:root {
  --primary-color: #5687c0;
  --primary-light-color: #c7dcf1;
  --primary-dark-color: #275392;
  --button-edit-color: #75b9b5;
  --button-delete-color: #dc6d6d;
  --button-patients-color: #63c6a7;
  --secondary-color: #afeeeb;
  --secondary-dark-color: #75b9b5;
  --text-dark-color: #161717;
  --text-light-color: #f4f5f8;
  --background-color: #f5f5f5;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.content__menu {
  display: flex;
  gap: 25px;
}

.content__menu-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  transition: color 0.3s;
}

.content__menu-link:hover {
  color: var(--primary-dark-color);
}

.content__title {
  text-align: center;
  font-size: 35px;
}

.content__title--link {
  text-decoration: none;
  color: var(--text-dark-color);
  transition: 0.5s;
}

.content__title--link:hover {
  text-decoration: none;
  color: var(--primary-dark-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__title {
  padding: 10px 5px;
  color: var(--text-dark-color);
}

.header__block {
  display: flex;
  align-items: center;
}

.filter__select {
  -webkit-appearance: none; /* Для Safari и Chrome */
  -moz-appearance: none; /* Для Firefox */
  appearance: none;
  background-color: var(--background-color);
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 700;
  text-align-last: center;
  color: var(--primary-color);
  cursor: pointer;
  outline: none;
  transition: color 0.3s;
}

.filter__select:hover {
  color: var(--primary-dark-color);
}

.filter__select:focus {
  border-color: var(--primary-light-color);
}

.patient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.patient-card {
  flex-basis: calc(50% - 5px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: var(--text-light-color);
  border: 1px solid var(--primary-light-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.patient-card__info {
  color: var(--text-dark-color);
  flex-grow: 1;
}

.patient-card__name {
  font-size: 18px;
  margin-bottom: 5px;
}

.patient-card__detail {
  font-size: 14px;
  color: var(--text-dark-color);
}

.patient-card__services {
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.patient-card__services-title {
  font-size: 16px;
  color: var(--text-dark-color);
  margin: 5px 0 0 0;
}

.patient-card__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 40px;
  gap: 10px;
}

.patient-card__button {
  width: 120px;
  font-size: 14px;
  color: var(--text-light-color);
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  transition: filter 0.3s;
}

.patient-card__button--edit {
  background-color: var(--button-edit-color);
}

.patient-card__button--delete {
  background-color: var(--button-delete-color);
}

.patient-card__button--doctors {
  background-color: var(--button-patients-color);
}

.patient-card__button:hover {
  filter: brightness(85%);
}

.footer {
  display: flex;
  background-color: var(--text-light-color);
  border: 1px solid var(--primary-light-color);
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.footer__button--add {
  width: 160px;
  font-size: 14px;
  background-color: var(--button-edit-color);
  color: var(--text-light-color);
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  transition: filter 0.3s;
}

.footer__button--add:hover {
  filter: brightness(85%);
  cursor: pointer;
}

#overlay {
  position: fixed; /* Фиксированное позиционирование по всему экрану */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0; /* Изначально оверлей прозрачный */
  transition: opacity 0.5s ease; /* Плавный переход прозрачности */
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  z-index: 2;
  opacity: 0; /* Изначально модальное окно прозрачное */
  transform: translate(-50%, -50%) scale(0.9); /* Убрано пересечение с translate(-50%, -50%) */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавные переходы */
}

.modal__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--text-dark-color);
}

.modal input,
.modal select {
  color: var(--text-dark-color);
  font-size: 14px;
  border: none;
  background-color: var(--text-light-color);
  border: 1px solid var(--primary-light-color);
  border-radius: 4px;
  padding: 12px 0;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.modal input:focus {
  outline: none;
  background-color: var(--text-light-color);
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal__buttons--saveData,
.modal__buttons--hideModal {
  width: 120px;
  font-size: 14px;
  border: none;
  color: var(--text-light-color);
  padding: 8px 10px;
  border-radius: 4px;
}

.modal__buttons--saveData {
  background-color: var(--button-edit-color);
  transition: filter 0.3s;
}

.modal__buttons--saveData:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.modal__buttons--hideModal {
  background-color: var(--button-delete-color);
  transition: filter 0.3s;
}

.modal__buttons--hideModal:hover {
  filter: brightness(85%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .patient-card {
    flex-basis: 100%;
  }

  .patient-card__button {
    width: 100px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .content__title {
    font-size: 25px;
  }
}
